<h1>Search Results</h1>
<h1>Displaying <%= @characters.count %> results</h1>
<% @characters.each do |character| %>
  <h3>Name: <%= character.name %></h3>
  <% if character.has_image? %>
    <%= image_tag character.image %>
  <% end %>
  <p>Allies: <%= character.display_allies %></p>
  <p>Enemies: <%= character.display_enemies %></p>
  <p>Affiliation: <%= character.affiliation %></p>
  <br>
<% end %>